* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.hide {
  display: none !important;
}
.show {
  display: inline-block !important;
}
#bg {
  background-image: url('img/0_bg/water.jpeg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
span {
  text-align: center;
}
.header span {
  padding: 5px;
  display: inline-block;
}
.icon {
  vertical-align: middle;
}
button,
select,
input,
#progress {
  border-radius: 10px;
  padding: 10px;
  border-color: #dbdbde;
  padding-block: 4px;
  background-color: #fff;
}
button {
  height: 60px;
  vertical-align: middle;
}
button.link {
  background: #6abaff;
}
.header {
  position: sticky;
  text-align: center;
  top: 0;
}
.content {
  text-align: center;
}
.hidestatus {
  display: none;
}
.showstatus {
  align-items: center;
  background: linear-gradient(
        to bottom right,
        #f9f9f9,
        white,
        #f9f9f9,
        white,
        #f9f9f9,
        white
      )
      padding-box,
    linear-gradient(
        to bottom right,
        #fde0ec,
        #bad5ed,
        #d2ece3,
        #fff,
        #fff,
        #d2ece3,
        #bad5ed,
        #fde0ec
      )
      border-box;
  border-radius: 10px;
  border: 15px solid transparent;
  display: flex;
  height: 5rem;
  inset: 0px;
  justify-content: center;
  margin: auto;
  max-height: 100dvh;
  max-width: 100vw;
  position: fixed;
  width: 12rem;
}

/* 游릮游릮游릮 BINDER 游릮游릮游릮 */

table {
  display: inline-block;
  margin: 10px;
}
td img {
  /* the td is necessary for correct rendering with no grid */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.placeholder {
  /* makes it so border won't affect height/width */
  display: inline-block;
  text-align: center;
}
td img,
td .placeholder {
  /* Keeps cards and placeholders properly aligned. Doesn't work if it's separated into the individual elements. */
  vertical-align: middle;
}
input {
  width: 3em;
  text-align: center;
}

/* 游댮游댮游댮 PULL 游댮游댮游댮 */

/* 游릭 MISC 游릭 */

#parent {
  display: flex;
}
iframe,
#id-filename {
  display: none;
}

/* 游 RIGHT 游 */

ol {
  text-align: left;
}
.small-card {
  border: solid 5px transparent;
  border-radius: 8px;
  margin: 3px;
  height: 100px;
}
.small-card.caught {
  opacity: 0.5;
}
.large-card {
  border: solid 20px transparent;
  border-radius: 36px;
  margin: 5px;
  height: auto;
  max-width: 100vh;
}
#card-list-div {
  padding: 10px;
  background-color: #fff;
  border-radius: 14px;
  margin: 10px;
  flex-basis: 60%;
}

/* 游리 LEFT 游리 */

#winner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: auto;
  max-height: 90vh;
  flex-basis: 40%;
}

/* /////////////// */
/* 游댯 MOBILE 游댯 */
/* /////////////// */

@media only screen and (max-width: 768px) {
  #parent {
    flex-direction: column;
  }
  #winner {
    max-height: 55vh;
  }
  #pull-buttons > button,
  #binder-info > button,
  #admin > button {
    width: 100%;
  }
  #pull-buttons > button {
    height: 50px;
  }
  #binder-info,
  #pull-buttons,
  #admin {
    display: flex;
  }
}
