.header span {
  padding: 5px;
  display: inline-block;
}

table {
  display: inline-block;
  margin: 10px;
}

td img {
  /* the td is necessary for correct rendering with no grid */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
}

.placeholder {
  /* makes it so border won't affect height/width */
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

td img,
td .placeholder {
  /* Keeps cards and placeholders properly aligned. 
  Doesn't work if it's separated into the individual elements. */
  vertical-align: middle;
}

.status {
  align-items: center;
  background: linear-gradient(
        to bottom right,
        #f9f9f9,
        white,
        #f9f9f9,
        white,
        #f9f9f9,
        white
      )
      padding-box,
    linear-gradient(
        to bottom right,
        #fde0ec,
        #bad5ed,
        #d2ece3,
        #fff,
        #fff,
        #d2ece3,
        #bad5ed,
        #fde0ec
      )
      border-box;
  border-radius: 10px;
  border: 15px solid transparent;
  display: flex;
  height: 5rem;
  inset: 0px;
  justify-content: center;
  margin: auto;
  max-height: 100dvh;
  max-width: 100vw;
  position: fixed;
  width: 12rem;
}

.hidestatus {
  display: none;
}

button,
select,
input {
  border-radius: 10px;
  padding: 10px;
  border-color: #dbdbde;
  padding-block: 4px;
}

input {
  width: 2em;
  text-align: center;
}

button {
  background: linear-gradient(
      to bottom right,
      #f9f9f9,
      white,
      #f9f9f9,
      white,
      #f9f9f9
    )
    padding-box;
}

.header-content {
  border-radius: 10px;
  padding-block: 4px;
}

.content {
  text-align: center;
}
body {
  background-color: #333;
}