* {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 14px;
}

button {
  background-color: #e6f4ff;
  border-radius: 6px;
  border: 1px #fff solid;
  fill: rgba(0, 0, 0, 0.15);
  font-weight: 400;
  margin: 5px 2px 5px 2px;
  padding-block: 5px;
}

input,
select {
  border-radius: 6px;
  border: 1px #000 solid;
  fill: rgba(0, 0, 0, 0.15);
  font-weight: 400;
  margin: 5px 2px 5px 2px;
  padding: 5px;
  width: 30px;
  text-align: center;
}

select {
  width: auto;
}

table {
  margin: 10px;
  display: inline-block;
}

td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header,
.status {
  position: sticky;
  top: 0;
  background-color: #fff;
  text-align: center;
  width: 100%;
}

.solid {
  border: 1px rgb(9, 88, 217) solid;
}

.placeholder {
  box-sizing: border-box; /* border won't affect height/width */
  text-align: center;
  display: inline-block;
}
